body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    margin-bottom: 20px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#message {
    margin-bottom: 20px;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
